doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Smartphone

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
       h1 Smartphone
        
      section
       h2 <strong> Pengenalan Smartphone </strong>
       ul
        li Telepon cerdas (smartphone) adalah telepon genggam yang mempunyai kemampuan tingkat tinggi, kadang-kadang dengan fungsi yang menyerupai komputer.
       img(src="img/smartphone.jpg" width = "500" height = "250")  
      section
       h2 <strong> Pengenalan Smartphone (Cont...) </strong>
       ul
        li Sebuah handphone (featured phone) umumnya hanya digunakan untuk membuat panggilan suara dan sms, sebuah smartphone memiliki kemampuan jauh di atas itu.
        li Bagi beberapa orang, telepon pintar merupakan telepon yang bekerja menggunakan seluruh perangkat lunak sistem operasi yang menyediakan hubungan standar dan mendasar bagi pengembang aplikasi.

      section
       h2 <strong> Pengenalan Smartphone (Cont...) </strong>
       ul
        li Bagi yang lainnya, telepon cerdas hanyalah merupakan sebuah telepon yang menyajikan fitur canggih seperti surel (surat elektronik), internet dan kemampuan membaca buku elektronik (e-book) atau terdapat papan ketik dan penyambung VGA.
        li Dengan kata lain, telepon cerdas merupakan komputer kecil yang mempunyai kemampuan sebuah telepon.
        li Kebanyakan alat yang dikategorikan sebagai telepon pintar menggunakan sistem operasi yang berbeda. Dalam hal fitur, kebanyakan telepon pintar mendukung sepenuhnya fasilitas surel dengan fungsi pengatur personal yang lengkap.
     
      section
       h2 <strong> Pengenalan Smartphone (Cont...) </strong><br /><br />
       <blockquote> “Telepon pintar dapat dibedakan dengan telepon genggam biasa dengan dua cara fundamental: bagaimana mereka dibuat dan apa yang mereka bisa lakukan.”<br />
       <small> David Wood, Wakil Presiden Eksekutif PT Symbian OS</small>
      

      section
       h2 <strong> Pengenalan Smartphone (Cont...) </strong>
       ul
        li Umumnya sebuah smartphone sudah dibekali oleh sistem operasi.
        li Sistem operasi mobile dikenal dengan sebutan platform atau perangkat lunak untuk mobile.
       
      section
       h2 <strong> Sejarah Smartphone </strong>
       ul
        li Telepon pintar pertama dinamakan Simon; dirancang oleh IBM pada 1992 dan dipamerkan sebagai produk konsep tahun itu di COMDEX, sebuah pameran komputer di Las Vegas, Nevada.
       img(src="img/IBM.jpg" width = "130" height = "130")  
       ul
        li Telepon pintar tersebut dipasarkan ke publik pada tahun 1993 dan dijual oleh BellSouth. Tidak hanya menjadi sebuah telepon genggam, telepon pintar tersebut juga memiliki kalender, buku telepon, jam dunia, tempat pencatat, surel, kemampuan mengirim dan menerima faks dan permainan.

      section
       h3 <strong> Sejarah Smartphone (Cont...) </strong>
       ul
        li Nokia Communicator merupakan telepon pintar pertama Nokia, dimulai dengan Nokia 9000, pada tahun 1996.
       img(src="img/nokia9000.jpg" width = "130" height = "130")  
       ul
        li Nokia 9210 merupakan komunikator berlayar warna pertama dan juga merupakan telepon pintar sejati yang menggunakan sistem operasi.
        li Komunikator 9500 menjadi komunikator berkamera dan ber-WiFi pertama. Komunikator 9300 memiliki perubahan dalam bentuk yang lebih kecil dan komunikator yang terbaru E90 menyertakan GPS.
         img(src="img/nokia9210.jpg" width = "300" height = "150")  
      
      section
       h3 <strong> Sejarah Smartphone (Cont...) </strong>
       ul
        li Ericsson R380 dahulu terjual sebagai ‘telepon pintar’ tetapi tidak bisa menjalankan aplikasi pihak ketiga.
        li Pada Oktober 2001, Handspring mengeluarkan telepon pintar Palm OS Treo, dengan papan ketik penuh digabung dengan jelajah jejaring tanpa kabel, surel, kalender, dan pengatur daftar nama, dengan aplikasi pihak ketiga yang dapat diunduh atau diselaraskan dengan komputer.
        li Tahun 2002, RIM mengeluakan BlackBerry pertama yang merupakan telepon pintar pertama dengan penggunaan surel nirkabel yang optimal dan penggunanya telah mencapai 8 juta (sampai Juni 2007), tiga perempat pemakainya berada di Amerika Selatan.

      section
       h3 <strong> Sejarah Smartphone (Cont...) </strong>
       ul
        li Handspring menyajikan telepon pintar yang popular dipasaran Amerika dengan bergabung dengan Palm OS berbasis Visor PDA dengan jaringan telepon GSM, Phone.
        li Tahun 2002, Handspring menjual telepon pintar terintegasi bernama Treo.
        li Perusahaan ini bergabung karena penjualan PDA sudah mulai mati, tetapi telepon pintar Treo secara cepat menjadi populer sebagai telepon berfitur PDA.
        li Pada tahun yang sama, Microsoft mengumumkan Windows CE komputer kantong OS dinobatkan sebagai "Microsoft Windows Powered Smartphone 2002".
     
      section
        h3 <strong> Sejarah Smartphone (Cont...) </strong>
        ul
          li Pada tahun 2005 Nokia menerbitkan seri-N telepon pintar 3G yang dijual bukan sebagai telepon genggam tetapi sebagai komputer multimedia.
          li Android, OS untuk telepon pintar keluaran tahun 2008. Android didukung oleh Google, bersama pengusaha piranti keras dan lunak yang terkemuka lainnya seperti Intel, HTC, ARM, Motorola dan eBay, yang kemudian membentuk Open Handset Alliance.
        

      section
        h3 <strong> Sejarah Smartphone (Cont...) </strong>
        ul
          li Pada Juli 2008 Apple memperkenalkan App Store dengan aplikasi gratis dan dengan biaya. App store dapat menyampaikan aplikasi telepon pintar yang dikembangkan oleh pihak ketiga langsung dari iPhone tanpa menggunakan komputer untuk mengunduh.
        img(src="img/appstore.jpg" width = "300" height = "110")  
        ul
          li App Store telah menjadi suatu kesuksesan bagi Apple dan pada Juni 2009 terdapat lebih dari 50,000 aplikasi yang ada. App store menembus satu juta unduh aplikasi pada 23 April 2009.
          

      section
       h2 <strong> Sistem Operasi </strong>
       p Sistem operasi mobile (mobile <em>operating system </em>, disingkat Mobile OS) adalah suatu sistem operasi yang mengontrol sistem dan kinerja pada barang elektronik yang mobile, mirip dengan fungsi Windows, Mac OS X, dan Linux pada Desktop PC atau Laptop/Notebook tetapi lebih sederhana. Biasanya penggunaannya hadir di ponsel pintar (OS).


      section
       h2 <strong> Sistem Operasi (Cont...) </strong><br /><br />
       <blockquote> “Sistem operasi adalah perangkat lunak sistem yang bertugas untuk melakukan kontrol dan manajemen perangkat keras serta operasi-operasi dasar sistem, termasuk menjalankan software aplikasi”<br />
       <small> Iim Rusyamsi</small>
       
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        ul
          li Sistem operasi mobile dikenal dengan sebutan platform, perangkat lunak untuk mobile, sistem operasi genggam adalah sebuah program yang menggerakan suatu perangkat keras seperti ponsel, smartphone, PDA, komputer tablet, perangkat informasi dan lain sebagainya. Ada berbagai jenis sistem operasi (OS) yang dijalankan perangkat keras yang beredar pasaran. <br /><br /> 
        img(src="img/top-smartphone OS.jpg" width = "300" height = "270")    
        ul
          li Berikut ini adalah sistem operasi (OS) yang dijalankan oleh vendor-vendor dan perusahaan-perusahaan besar di dunia.

      section
       h2 <strong> Sistem Operasi (Cont...) </strong>
       p Smartphone Smartphone atau pun tablet juga memiliki sistem operasi yang powerfull untuk mendukung beragam aplikasi dan kebutuhan penggunanya. Sering dibingungkan untuk memilih "ponsel dengan sistem operasi apa yang cocok untuk saya?" Mari kita simak beberapa pilihan sistem operasi yang bisa kita pertimbangkan:
        ol
         li Android
         li Blackberry OS
         li Firefox OS
         li iOS
         li Palm OS
         li Symbian
         li Windows Phone
         li Ubuntu Mobile

      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Android
        ul
          li Sekarang ini segala penjuru dunia pengguna gadget sudah mengenal Android. Android di kembangkan berdasarkan sistem kernel linux sehingga di kategorikan dalam sistem operasi yang bersifat terbuka. Semua vendor ponsel ternama untuk sekarang sudah menggunakan Android sebagai OS nya. Di Indonesia sendiri ponsel Android terkenal laris manis. <br /><br /> 
        img(src="img/android.jpg" width = "150" height = "240")  
        
      section
       h2 <strong> Sistem Operasi (Cont...) </strong>
       h3 Android
       p Perkembangan Android dari masa ke masa
        ol
         li Android versi 1.1
         li Android versi 1.5 (Cupcake)
         li Android versi 1.6 (Donut)
         li Android versi 2.0/2.1 (Eclair)
         li Android versi 2.2 (Froyo)
         li Android versi 2.3 (Gingerbread)
         li Android versi 3.0/3.1 (Honeycomb)
         li Android versi 4.0 (Ice Cream Sandwich)
         li Android versi 4.1 (Jelly Bean)
         li Android versi 4.4 (KitKat)
     
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Blackberry OS
        ul
          li Di Indonesia, Blackberry memang di akui cukup laris manis angka penjualannya. Tetapi di luar Indonesia ponsel ini mulai mengalami penurunan pasar. Blackberry OS mempunyai keunggulan pada fiturnya yang bernama Blackberry Messenger yaitu pesan instant sesama pengguna perangkat Blackberry.Bagi seseorang yang bekerja di perusahaan, Blackberry juga mempunyai Push E-mail untuk mempermudah mengcek E-mail yang masuk dari kantor tanpa harus membukanya dari PC.  <br /><br /> 
        img(src="img/bb.jpg" width = "130" height = "175")
        
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Blackberry OS
        ul
         li BlackBerry menyediakan berbagai perangkat lunak yang dapat disesuaikan dengan kebutuhan operasi
        ol
          li BlackBerry Enterprise Server (BES) : BlackBerry terintegrasi pada sistem surat-e yang terorganisasi melalui paket perangkat lunak yang disebut BlackBerry Enterprise System (BES).
          li BlackBerry Professional Software (BPS) : BPS merupakan komunikasi nirkabel dan kolaborasi solusi bagi usaha kecil dan menengah.
          li BlackBerry Internet Service (BIS) : Perangkat lunak yang diperuntukkan bagi pengguna pribadi ini memungkinkan Anda untuk mengintegrasikan smartphone dengan 10 akun surat-e , menerima dan mengirim pesan instan, serta mengakses Internet.
          li BlackBerry Mobile Data System (BlackBerry MDS) : Sebuah aplikasi optimisasi pengembangan kerangka kerja untuk BlackBerry Enterprise Solution yang menyediakan sebuah alat pengembangan untuk membangun, menyebarluaskan, serta mengatur interaksi antara smartphone BlackBerry dan aplikasi perusahaan.
     
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Firefox OS
        ul
          li Mozilla, perusahaan yang mengembangkan aplikasi peramban (browser) Firefox, berencana untuk membuat sistem operasi kode sumber terbuka (open source) untuk perangkat mobile bernama Firefox OS. Mozilla berharap, perangkat perdana dengan Firefox OS akan dirilis tahun 2013.
          li Segenap dukungan telah didapatkan Mozilla untuk proyek Firefox OS. Produsen perangkat mobile ZTE dan TCL, yang keduanya berasal dari China, siap memproduksi perangkat bersistem operasi Firefox OS.<br /><br /> 
        img(src="img/firefox.jpg" width = "130" height = "170")        
     
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Firefox OS
        p<strong> Persyaratan perangkat keras </strong> 
        ol
        li Perangakat mobile berbasis ARM terbaru cukup kuat untuk mendukung proting Firefox OS. Bagian ini mencakup persyaratan perangkat  keras dasar serta fitur perangkat keras yang direkomendasikan.

        table
            tr
                td Komponen 
                td Minimum
                td Rekomendasi
            tr
                td CPU
                td ARMv6
                td Cortex A5 class atau lebih ARMv7a dengan NEON
            tr
                td GPU
                td ----
                td Adreno 200 class atau lebih
            tr
                td Connectivity
                td ----
                td WiFi, 3G
            tr
                td Sensors
                td ---- 
                td Accelerometer, Proximity, Ambient light, li A-GPS    

      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 iOS
        ul
          li Tentunya kita sudah tak asing lagi dengan device yang bernama iPhone. Benar, iOS adalah sistem operasi yang hanya bisa di temui pada perangkat pabrikan Apple Inc. iOS merupakan sistem operasi yang di kembangkan dari Mac OS X. iOS juga merupakan sistem oprasi yang open source di bawah naungan Apple Public Source License (APSL). Di iOS terdapat abstraction layers, Core OS layers, Core Service layers, Media layers, Cocoua Touch Layers. <br /><br /> 
        img(src="img/ios.jpg" width = "130" height = "170")     
        
      section
       h2 <strong> Sistem Operasi (Cont...) </strong>
       h3 iOS
       p Berikut ini versi-versi dari operating system IOS.
         Sejak tahun 2007 sampai 2014 IOS telah meluncurkan beberapa versi, seperti :

        ol
         li iPhoneOS 1.x
         li iPhone OS2.x
         li iPhone OS3.x
         li IOS 4.x
         li IOS 5.x
         li IOS 6.x
         li iOS 7

        
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Palm OS
        ul
          li Palm OS merupakan sistem operasi smartphone dan PDA yang dikembangkan oleh Palm Inc. pada tahun 1996. Palm OS diciptakan untuk memberikan kemudahan kepada penggunanya ketika digunakan dengan user interface yang berbasis touchscreen. 
          li Saat ini, versi berlisensi dari merek dagang Palm OS berubah menjadi OS Garnet dengan versi terbarunya Palm OS Garnet 5.4.9.<br /><br /> 
        img(src="img/palm.jpg" width = "130" height = "170")        


      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Symbian OS
        ul
          li Nokia adalah salah satu merk lawas yang hampir semua orang sudah mengetahuinya. Di Indonesia ponsel Nokia sempat merajai pangsa pasar penjualan ponsel. Symbian juga bukanlah sistem operasi yang open source, tetapi karna diperlukan API sehingga banyak pihak developer yang salah meng-artikan bahwa source code nya tidak di distribusikan secara bebas. Salah satu ke unggulan nya adalah dapat di jalankan dengan multi-tasking. Saat ini Symbian juga sudah sampai pada versi Symbian Belle, yang merupakan versi paling baru dan dapat di temui dalam Nokia 600 dan 700.<br /><br /> 
        img(src="img/symbian.jpg" width = "130" height = "170")        

      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Windows Phone
        ul
          li Tidak hanya membuat sistem operasi untuk kebutuhan dekstop, Microsoft juga ikut bersaing dalam sistem operasi mobile. Versi terbaru OS buatan Microsoft ini adalah Windows Phone 8 yang akan berjalan di atas kernel Windows NT, yang biasa digunakan untuk segmen entreprise. Nokia dan HTC adalah dua dari sekian vendor gadget yang menggunakan OS ini. Jajaran ponsel Nokia yang menggunakan OS Windows Phone adalah seri Lumia. Sedangkan beberapa seri smartphone HTC yang memakai OS ini adalah HTC Zenith, HTC Accord dan HTC Rio. <br /><br /> 
        img(src="img/windows.jpg" width = "130" height = "170")        
      section
        h2 <strong> Sistem Operasi (Cont...) </strong>
        h3 Ubuntu Mobile
        ul
          li Hadir sebagai pesaing Android dan iOS, perangkat berbasis Ubuntu untuk perangkat mobile ini disebutkan akan hadir dengan harga yang terjangkau. Ubuntu versi ini telah didesain agar tetap mampu bekerja di perangkat entry-level sekalipun. Ubuntu untuk mobile ini hadir dengan kernel dan driver yang sama dengan sistem operasi buatan Google, Android. Hal ini bisa jadi sangat menguntungkan bagi pihak pengembang. Mereka tidak perlu lagi membangun atau menulis kode aplikasi dari awal. <br /><br /> 
        img(src="img/ubuntu.jpg" width = "130" height = "170") 

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild