doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Smartphone

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Smartphone
        
       section
       h2 <strong> Pengenalan Smartphone </strong>
       ul
        li Telepon cerdas (smartphone) adalah telepon genggam yang mempunyai kemampuan tingkat tinggi, kadang-kadang dengan fungsi yang menyerupai komputer.
        li Sebuah handphone (featured phone) umumnya hanya digunakan untuk membuat panggilan suara dan sms, sebuah smartphone memiliki kemampuan jauh di atas itu.
        li Bagi beberapa orang, telepon pintar merupakan telepon yang bekerja menggunakan seluruh perangkat lunak sistem operasi yang menyediakan hubungan standar dan mendasar bagi pengembang aplikasi.
                 
      section
       h3 <strong> Pengenalan Smartphone (Cont...) </strong>
       ul
        li Bagi yang lainnya, telepon cerdas hanyalah merupakan sebuah telepon yang menyajikan fitur canggih seperti surel (surat elektronik), internet dan kemampuan membaca buku elektronik (e-book) atau terdapat papan ketik dan penyambung VGA.
        li Dengan kata lain, telepon cerdas merupakan komputer kecil yang mempunyai kemampuan sebuah telepon.
        li Kebanyakan alat yang dikategorikan sebagai telepon pintar menggunakan sistem operasi yang berbeda. Dalam hal fitur, kebanyakan telepon pintar mendukung sepenuhnya fasilitas surel dengan fungsi pengatur personal yang lengkap.
     
      section
       h3 <strong> Pengenalan Smartphone (Cont...) </strong>
       ul
        li Umumnya sebuah smartphone sudah dibekali oleh sistem operasi.
        li Sistem operasi mobile dikenal dengan sebutan platform atau perangkat lunak untuk mobile.
       
      section
       h2 <strong> Sejarah Smartphone </strong>
       ul
        li Telepon pintar pertama dinamakan Simon; dirancang oleh IBM pada 1992 dan dipamerkan sebagai produk konsep tahun itu di COMDEX, sebuah pameran komputer di Las Vegas, Nevada.
        li elepon pintar tersebut dipasarkan ke publik pada tahun 1993 dan dijual oleh BellSouth. Tidak hanya menjadi sebuah telepon genggam, telepon pintar tersebut juga memiliki kalender, buku telepon, jam dunia, tempat pencatat, surel, kemampuan mengirim dan menerima faks dan permainan.
        li Telepon canggih tersebut tidak mempunyai tombol-tombol. Melainkan para pengguna menggunakan layar sentuh untuk memilih nomor telepon dengan jari atau membuat faksimile dan memo dengan tongkat stylus.
        li Teks dimasukkan dengan papan ketik “prediksi” yang unik di layar. Bagi standar masa kini, Simon merupakan produk tingkat rendah, tetapi fitur-fiturnya pada saat itu sangatlah canggih.

      section
       h3 <strong> Sejarah Smartphone (Cont...) </strong>
       ul
        li Nokia Communicator merupakan telepon pintar pertama Nokia, dimulai dengan Nokia 9000, pada tahun 1996.
        li Nokia 9210 merupakan komunikator berlayar warna pertama dan juga merupakan telepon pintar sejati yang menggunakan sistem operasi.
        li Komunikator 9500 menjadi komunikator berkamera dan ber-WiFi pertama. Komunikator 9300 memiliki perubahan dalam bentuk yang lebih kecil dan komunikator yang terbaru E90 menyertakan GPS.
        li Meskipun Nokia 9210 dapat diargumentasikan sebagai telepon pintar sejati pertama dengan sistem operasi, Nokia tetap menyebutnya sebagai komunikator.

      section
       h3 <strong> Sejarah Smartphone (Cont...) </strong>
       ul
        li € Ericsson R380 dahulu terjual sebagai ‘telepon pintar’ tetapi tidak bisa menjalankan aplikasi pihak ketiga.
        li Pada Oktober 2001, Handspring mengeluarkan telepon pintar Palm OS Treo, dengan papan ketik penuh digabung dengan jelajah jejaring tanpa kabel, surel, kalender, dan pengatur daftar nama, dengan aplikasi pihak ketiga yang dapat diunduh atau diselaraskan dengan komputer.
        li Tahun 2002, RIM mengeluakan BlackBerry pertama yang merupakan telepon pintar pertama dengan penggunaan surel nirkabel yang optimal dan penggunanya telah mencapai 8 juta (sampai Juni 2007), tiga perempat pemakainya berada di Amerika Selatan.

      section
       h3 <strong> Sejarah Smartphone (Cont...) </strong>
       ul
        li Handspring menyajikan telepon pintar yang popular dipasaran Amerika dengan bergabung dengan Palm OS berbasis Visor PDA dengan jaringan telepon GSM, Phone.
        li Tahun 2002, Handspring menjual telepon pintar terintegasi bernama Treo.
        li Perusahaan ini bergabung karena penjualan PDA sudah mulai mati, tetapi telepon pintar Treo secara cepat menjadi populer sebagai telepon berfitur PDA.
        li Pada tahun yang sama, Microsoft mengumumkan Windows CE komputer kantong OS dinobatkan sebagai "Microsoft Windows Powered Smartphone 2002".
     
      section
        h3 <strong> Sejarah Smartphone (Cont...) </strong>
        ul
          li Pada tahun 2005 Nokia menerbitkan seri-N telepon pintar 3G yang dijual bukan sebagai telepon genggam tetapi sebagai komputer multimedia.
          li Android, OS untuk telepon pintar keluaran tahun 2008. Android didukung oleh Google, bersama pengusaha piranti keras dan lunak yang terkemuka lainnya seperti Intel, HTC, ARM, Motorola dan eBay, yang kemudian membentuk Open Handset Alliance.
        

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild